<nav class="navbar">
  <div class="nav-logo">FestivalApp</div>
  <div class="nav-links">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
    <a routerLink="festival_list" routerLinkActive="active">Festivals</a>
    <a routerLink="editor-list" routerLinkActive="active">Éditeurs</a>
    <a routerLink="plan-management" routerLinkActive="active">Zone du Plan</a>
    @if (this.authSvc.isLoggedIn() && this.authSvc.currentUser()?.role == 'admin') {
    <a routerLink="reservations" routerLinkActive="active">Réservations</a>
    }
    @if (authSvc.isLoggedIn() && authSvc.currentUser()?.role == 'admin') {
    <a routerLink="admin" routerLinkActive="active">Admin</a>
    }
    @if (!authSvc.isLoggedIn()) {
    <a routerLink="login" class="login-btn" routerLinkActive="active">Connexion</a>
    }
    @if (authSvc.isLoggedIn()) {
    <button class="logout-btn" (click)="logout()">Déconnexion</button>
    }
  </div>
</nav>

<router-outlet />