<div class="festival-list-container">
    <h1>Liste des Festivals</h1>
    
    <!-- Passer le festival à éditer au formulaire -->
    <app-festival-form 
      [festivalToEdit]="festivalToEdit()"
      (formClosed)="onFormClosed()" 
    />
    
    <div class="festivals-grid">
      @for (festival of festivals(); track festival.name) {
        <app-festival-card-component 
          [festival]="festival"
          (editFestival)="onEditFestival($event)"
          (deleteFestival)="removeFestival($event)"
        />
      } @empty {
        <p class="no-festivals">Aucun festival disponible</p>
      }
    </div>
</div>